/* HALLO BRUNO */

/* STYLING RSS  */
.content {
  width: 90%;
  margin: 0 auto;
}

.color2 {
  background-color: #40b2c3;
  color: white;
  /* border: 1pt solid black; */
  border-radius: 2%;
  text-align: center;
  padding: 2pt 2pt;
  margin-top: 2pt;
}

.post {
  border: 1px solid gray;
  padding: 5px;
  border-radius: 3px;
  margin-top: 15px;
}

.post-head span {
  /* font-size: 14px; */
  color: gray;
  letter-spacing: 1px;
  font-size: 11px;
}

.post-content {
  font-size: 14px;
}

.post-content a {
  color: #40b2c3;
}

/* STYLING Blog */
/* .contactForm {
    margin: 2vw;
    padding: 2vw;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 5px 10px 18px #888888;
    background-color: #d7e1cc;
    width: 70%;
} */

.card_event {
  /* min-height: 40vh; */
  padding: 20px 20px;
  /* border-radius: 5px; */
}

.card_event img {
  border-radius: 10px;
}

#thumbnail img {
  border-radius: 10px;
  margin-bottom: 4px;
}

/* STYLE EVENTS */

body {
  font-family: "Roboto", sans-serif;
}



.card_blog {
  max-width: 30vw;
}

.header_news {
  background-color: #40b2c3;
  padding-top: 1vw;
  padding-bottom: 1.5vw;
  border-radius: 5px;
  text-align: center;
}

.header_events {
  background-color: #caf0f8;
  padding-top: 1vw;
  padding-bottom: 1.5vw;
  border-radius: 5px;
  text-align: center;
}

.header_blog {
  background-color: #a1c490;
  padding-top: 1vw;
  padding-bottom: 1.5vw;
  border-radius: 5px;
  text-align: center;
}

.event_panel {
  background-color: #caf0f8;
  text-align: center;
}

details {
  background-color: #caf0f8;
  /* background-color: #D7E1CC; */
}

.navbar_admin {
  background-color: #135887;
}

.blogImg {
  max-width: 400px;
}

.card_event {
  text-align: block;
  display: flex;
  justify-content: center;
}

.event-list {
  list-style: none;
  font-family: "Lato", sans-serif;
  margin: 0px;
  padding: 0px;
}

.event-list > li {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 5px rgb(51, 51, 51);
  box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
  padding: 0px;
  margin: 0px 0px 20px;
}

.event-list > li > time {
  display: inline-block;
  width: 100%;
  color: rgb(255, 255, 255);
  background-color: #135887;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
}
.event-list > li:nth-child(even) > time {
  background-color: #8ed3bb;
}
.event-list > li > time > span {
  display: none;
}
.event-list > li > time > .day {
  display: block;
  font-size: 56pt;
  font-weight: 100;
  line-height: 1;
}
.event-list > li time > .month {
  display: block;
  font-size: 24pt;
  font-weight: 900;
  line-height: 1;
}

.event-list > li img {
  width: 100%;
}
.event-list > li > .info {
  padding-top: 5px;
  text-align: center;
}
.event-list > li > .info > .title {
  font-size: 15pt;
  font-weight: 700;
  margin: 0px;
}
.event-list > li > .info > .desc {
  font-size: 12pt;
  font-weight: 300;
  margin: 0px;
}
.event-list > li > .info > ul {
  display: table;
  list-style: none;
  margin: 10px 0px 0px;
  padding: 0px;
  width: 100%;
  text-align: center;
}

.event-list > li > .info > ul > li {
  display: table-cell;
  cursor: pointer;
  color: rgb(30, 30, 30);
  font-size: 11pt;
  font-weight: 300;
  padding: 3px 0px;
}
.event-list > li > .info > ul > li > a {
  display: block;
  width: 100%;
  color: rgb(30, 30, 30);
  text-decoration: none;
}

.event-list > li > .info {
  background-color: #deead3;
  overflow: hidden;
}

/* MEDIAQUERY TABLETS */
@media (min-width: 601px) and (max-width: 1199px) {
  #wrapper1 {
    display: flex;
    flex-direction: row
    justify-content: center;
    /* flex-wrap: wrap;
        flex-direction: row; */
  }
  #menumobile {
    display:none;
  }
 #articlefortablets {
    display: flex;
    flex-direction: row
    justify-content: space-around;
}
  #container_rss {
  display:none;
  }
  
  #container_blog {
    width: 50%;
  /*  max-height:200px;*/
  }
  #container_event {
    width: 50%;
    padding: 0 2vw 0 2vw;
    /* margin: 0 2vw 0 2vw; */
  }


}

/* MEDIAQUERY SMARTPHONE */
@media (max-width: 600px) {
  #wrapper1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
  }

#menumobile {
   display: flex;
  flex-direction: row;
  justify-content: space-around;

  }
  #container_rss {
    width: 100%;
  }

  #container_blog {
    width: 100%;
  }
  #container_event {
    width: 100%;
    padding: 0 2vw 0 2vw;
    /* margin: 0 2vw 0 2vw; */
  }
  #container_rss_tablet {
  display:none;
}
}

/* MEDIAQUERY BIG SCREEN */
@media (min-width: 1200px) {

#wrapper1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#menumobile {
    display:none;
  }

#container_rss {
  width: 25%;
}

#container_blog {
  width: 30%;
}
#container_event {
  width: 45%;
  padding: 0 2vw 0 2vw;
  /* margin: 0 2vw 0 2vw; */
}

#container_rss_tablet {
  display:none;
  
}

  .event-list > li > .info > .title {
    font-size: 15pt;
    font-weight: bold;
    margin-left: 10px;
  }
  .event-list > li > .info > .desc {
    font-size: 13pt;
    font-weight: 300;
    margin-left: 10px;
  }

  .event-list > li {
    /* position: relative; */
    display: block;

    padding: 0px;
  }

  .event-list > li > img {
    display: inline-block;
    width: 100%;
    height: 120px;
    display: inline-block;
    width: 140px;
    float: left;
  }
  .event-list > li > time {
    width: 120px;
    height: 120px;
    float: left;
  }

 

  .event-list > li > .info {
    position: relative;
    height: 120px;
    text-align: left;
    padding-right: 40px;
  }

}
